<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card *ngFor="let ad of ads">
          <ion-card-header>
            <ion-card-title>{{ad.title}}</ion-card-title>
            <ion-card-subtitle>Advertiser: {{ad.user}}</ion-card-subtitle>
          </ion-card-header>
          <ion-img *ngIf="ad.img_url" src="http://ucarecdn.com/{{ad.img_url}}/" width="80" height="80"></ion-img>
          <ion-card-content>
            <p>Posted on: {{ad.created_at * 1000 | date:'dd-MM-yyyy'}}</p>
          </ion-card-content>
          <div>
            <ion-button id="{{ad.id}}" fill="clear" color="primary" (click)="details($event)">More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
