<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/splash-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-img *ngIf="img_url" src="http://ucarecdn.com/{{img_url}}/" style="width: 40%; height: auto; margin: 10px auto;">></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" [(ngModel)]="name" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" [(ngModel)]="email" disabled></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mobile phone</ion-label>
              <ion-input type="text" [(ngModel)]="mobile_phone" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  <ion-button expand="block" href="order-history">Order history</ion-button>
  <ion-button expand="block" href="my-cart">My cart</ion-button>
  <ion-button expand="block" (click)="logout()">Logout</ion-button>
</ion-content>