<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/splash-screen"></ion-back-button>
    </ion-buttons>
    <ion-title>Add ad</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="text" [(ngModel)]="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="text" [(ngModel)]="quantity"></ion-input>
    </ion-item>
    <ion-item>
        <input type="file" name="uploadfile" id="img" style="display:none;" (change)="fileChanged($event)" />
        <label for="img">Click me to upload image</label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="create()">Create</ion-button>
</ion-content>