<ion-header>
  <ion-toolbar text-center>
    <ion-title>
      Dime Hustlers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://ucarecdn.com/18ae3ad6-ba23-4fdc-8d19-ec355f0bfba0/dime_hustler2.png" style="width: 60%; height: auto; margin: 10px auto;"></ion-img>
  <div class="ion-padding" text-center>
    <ion-text color="dark">
        <h3>Dolla Dolla Bill, Yall.</h3>
    </ion-text>
  </div>
  <ion-button expand="block" href="login">Log in</ion-button>
  <ion-button expand="block" href="register">Register</ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar text-center>
        <ion-title>
          $
        </ion-title>
      </ion-toolbar>
</ion-footer>
